<mat-drawer-container>
  <mat-drawer mode="side" [opened]="showActions()" id="sidebar" #drawer>
    <mat-toolbar id="profile">
      <mat-icon>person</mat-icon>
      <span>{{crud.user?.username}}</span>
    </mat-toolbar>

    <mat-selection-list id="actions">
      <mat-list-item routerLink="/dashboard">
        <mat-icon matListItemIcon>dashboard</mat-icon>
        <div matListItemTitle>Übersicht</div>
      </mat-list-item>
      <mat-list-item (click)="logout()">
        <mat-icon matListItemIcon>logout</mat-icon>
        <div matListItemTitle>Ausloggen</div>
      </mat-list-item>
      <mat-list-item (click)="createProject()">
        <mat-icon matListItemIcon>add</mat-icon>
        <div matListItemTitle>Neues Projekt</div>
      </mat-list-item>

      <mat-divider></mat-divider>

      <div mat-subheader>Projekte</div>
      <mat-list-item *ngFor="let project of projects.projects" (click)="openProject(project.projectId)">
        <mat-icon matListItemIcon>open_in_new</mat-icon>
        <div matListItemTitle>{{project.name}}</div>
        <div matListItemLine [ngClass]="{startColor: project.running, stopColor: !project.running}">{{project.running ? 'Läuft' : 'Gestoppt'}}</div>
      </mat-list-item>
    </mat-selection-list>

  </mat-drawer>

  <mat-toolbar id="header">
    <button mat-icon-button (click)="drawer.toggle()" *ngIf="showActions()"><mat-icon>menu</mat-icon></button>
    <img src="favicon.ico" alt="logo" height="30px" draggable="false">
    <span>Project Manager</span>

    <section id="top-actions">
      <button mat-icon-button (click)="onModeChange()" matTooltip="Farbmodus ändern"><mat-icon>{{darkMode ? 'light_mode' : 'dark_mode'}}</mat-icon></button>
      <button mat-icon-button routerLink="/profile" *ngIf="showActions()" matTooltip="Profil Einstellungen"><mat-icon>account_circle</mat-icon></button>
    </section>
  </mat-toolbar>

  <router-outlet></router-outlet>

  <mat-spinner [ngStyle]="{'display': isSpinnerVisible() ? 'block' : 'none'}"></mat-spinner>

</mat-drawer-container>
