# Ignore the node_modules directory
node_modules

# Ignore the dist directory
dist

# Ignore the .git directory
.git

# Ignore the .gitignore file
.gitignore

# Ignore the .dockerignore file
.dockerignore
